.statusbody {
  font-family: 'Open Sans', sans-serif;
  margin: 8px;
  margin-top: 4px;
  float: right;
  color: white;
}

.statusdiv {
  animation: start 2s linear;
}
@keyframes start {
    0% { transform:translateY(-200%); }
    20% { transform:translateY(-200%); }
    22% { transform:translateY(0%); }
    27% { transform:translateY(20%); }
    30% { transform:translateY(0%); }
}